body::-webkit-scrollbar{
    display: none;
}

.spinner-container{
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.spinner-container img{
    text-align: center;
}
